{% include base_path %}

<meta charset="utf-8">

{% include seo.html %}

<link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ base_path }}/feed.xml{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/main.css">

<meta http-equiv="cleartype" content="on">

<link rel="apple-touch-icon" sizes="57x57" href="/fav/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/fav/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/fav/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/fav/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/fav/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/fav/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/fav/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/fav/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/fav/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/fav/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/fav/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/fav/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/fav/favicon-16x16.png">
<link rel="manifest" href="/fav/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/fav/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">


<style>
  li div { text-align:right; }
  li div span { float:left; }
  .publogo {
      margin-right: 15px;
      float:left;
      margin-bottom: 5px;
  }

  .publication {
      padding-left: 0px;
      padding-top: 10px;
      margin-bottom: 10px;
  }

  .publication strong a {
      color: #000;
      text-decoration: none;
  }

  .publication strong a:hover {
      text-decoration: underline;
  }

  .publication .links a {
      margin-right: 15px;
  }

  .press {
      display: inline-block;
      padding: 5px;
      height: 70px;
  }
  .press a img {
      border: 3px solid #fff;
      border-ra truncated 1065bytes...
  }

  .media-body{
    font-size: 16px
    /* font-size: 15px; */
  }

  .media-body b{
    color: #99324b;
  }


  .awards {
      /* font-size: 15px; */
      font-size: 16px

  }

  .awards li{
      margin: 5px 0;
  }

  .topbar{
      /* font-size: 15.5px; */
      font-size: 16px
  }

  .projects {
      /* font-size: 15px; */
      font-size: 16px

  }

  .projects li{
      margin: 5px 0;
  }
  .projects img{
      margin-left: 15px;
      float:right;
      margin-bottom: 5px;
  }  

  .hobbies {
      font-size: 15px;

  }      

</style>